<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>company_history</title>

</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="../css/information/company_history.css">
</head>

<body>
  <!-- header.html 파일을 포함 -->
    <header th:replace="include/header.html"></header>
   <!-- 내용부분 --------------------------------------------------->
   	<div class="sub_title">
		<a class="sub_btn"> 인사말 </a> <br> <br>
		<hr class="sub_btn_hr">

		<br> <span class="sub_nav"> <a href="overview">회사개요</a> <a
			href="history" style="color: #282828; font-weight: 450;">회사 연혁</a> <a
			href="rank">조직도</a>
	</div>
	<div class="big_div">
		<div class="img_div">
			<img
				src="https://velog.velcdn.com/images/taeeuno_o/post/b0fb37ae-f8d1-4114-b93f-7d1fff45a3ab/image.png">
		</div>
		<div class="history_div">
			<table>
				<!---2023------------------------>
				<tr>
					<th class="year">2023</th>
					<td></td>
				</tr>
				<tr>
					<th></th>
					<td></td>
				</tr>
				<!--2022------------------------->
				<tr>
					<th class="year">2022</th>
					<td></td>
				</tr>
				<tr>
					<td class="month">11</td>
					<td>삼성카드 (삼성카드 전체 채널 운영 프로젝트)</td>
				</tr>
				<tr>
					<td></td>
					<td>SK시그넷 (SK 시그넷 전체 O&M 시스템 운영 및 유지보수)</td>
				</tr>
				<tr>
					<td></td>
					<td>아모레퍼시픽 (아모레퍼시픽 고객 상담 시스템 App 배치)</td>
				</tr>
				<tr>
					<td class="month">08</td>
					<td>미래에셋 생명 (마이데이터 구축 프로젝트)</td>
				</tr>
				<tr>
					<td class="month">07</td>
					<td>핸드위치 법인 사업자 전환</td>
				</tr>
				<tr>
					<td class="month">05</td>
					<td>하나은행 (KCT의 하나은행 지능형 순번발행기 관제시스템 영역 수행)</td>
				</tr>
				<tr>
					<td></td>
					<td>LG U+ (LGU+ BMW Smart 연동 차량용 M2M 기기원격 개통 및 기변 프로세스 구축 등 사내
						서비스 전체 영역 수행)</td>
				</tr>

				<tr>
					<td class="month">03</td>
					<td>롯데카드 (디지털 애자일 프로젝트 채널 디지털 영역 수행)</td>
				</tr>
				<tr>
					<th></th>
					<td></td>
				</tr>
				<!----2021---------------------->
				<tr>
					<th class="year">2021</th>
					<td></td>
				</tr>
				<tr>
					<td class="month">11</td>
					<td>삼성카드 (채널 차세대 프로젝트 진행 (D-ARS, 챗봇대응, 고객센터, 라이프, 클립레포트, 쿠폰박스
						등))</td>
				</tr>
				<tr>
					<td class="month">09</td>
					<td>신한은행 (디지털영역 ODS 서비스 확대 (STAB시스템) 프로젝트, 디지털 창구 업그레이드 프로젝트
						수행)</td>
				</tr>
				<tr>
					<td class="month">03</td>
					<td>KT (사내 서비스 전체 L2C 전환)</td>
				</tr>
				<tr>
					<th></th>
					<td></td>
				</tr>
				<!----2020---------------------->
				<tr>
					<th class="year">2020</th>
					<td></td>
				</tr>
				<tr>
					<td class="month">09</td>
					<td>산업은행 (전체 채널 운영 프로젝트)</td>
				</tr>
				<tr>
					<td class="month">03</td>
					<td>국민카드 (전체 채널 모바일, PC 운영)</td>
				</tr>
				<tr>
					<td></td>
					<td>핸드위치 개인 사업자 설립</td>
				</tr>


			</table>
		</div>
	</div>

   
   <!-- 푸터부분 포함 -->
    <footer th:replace="include/footer.html"></footer>
   
   <script src="../js/home.js"></script>
</body>


</html>
	