<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>company_info</title>

</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="../css/information/company_info.css">
</head>

<body>
  <!-- header.html 파일을 포함 -->
    <header th:replace="include/header.html"></header>
	<!-- 내용부분 --------------------------------------------------->
	
	<div class="sub_title" >
		<a class="sub_btn"> 인사말 </a> <br> <br>
		<hr class="sub_btn_hr">

		<br> <span class="sub_nav"> <a href="overview">회사개요</a> <a
			href="history">회사 연혁</a> <a href="rank">조직도</a>
		</span>

	</div>

	<div class="introduction_box">
		<div class="left_box">
			<img class="hw_logo"
				src="https://velog.velcdn.com/images/taeeuno_o/post/b3c70b9c-949b-418f-9ee4-2ea8047100bd/image.jpg">
		</div>
		<div class="right_box" >
			<div class="right_box_1">
				검증된 기술력과 노하우를 갖춘 전문인력과 함께 <br> 고객사의 서비스 가치와 업무 효율성을 높이는 핸드위치가
				되겠습니다 <br>
			</div>
			<br>
			<hr class="hr_1">
			<br>
			<div class="right_box_2">
				(주) 핸드위치는 마이데이터 구축 전문 기업입니다.<br> 신규 S/W 개발, 운영 및 금융권 채널 구축 등
				차세대, 고도화 경험이 풍부하며,<br> 수년간 안정적인 프로젝트 수행을 통하여 고객에 최상의 서비스를
				제공하고있습니다. <br>
			</div>
			<div class="right_box_3">
				<br> 핸드위치 대표이사 <a class="CEO_name">한동욱</a>
			</div>
		</div>
	</div>
	<!-- 푸터부분 포함 -->
    <footer th:replace="include/footer.html"></footer>
	
	<script src="../js/home.js"></script>
</body>


</html>