<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="../css/service/service_page.css">
</head>

<body>
  <!-- header.html 파일을 포함 -->
    <header th:replace="include/header.html"></header>
   <!-- 내용부분 --------------------------------------------------->


<div>
서비스페이지
</div>
   <!-- 푸터부분 포함 -->
    <footer th:replace="include/footer.html"></footer>
   
   <script src="../js/home.js"></script>
</body>


</html>