<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="../css/user/login.css">
</head>
<body>
	<!-- header.html 파일을 포함 -->
	<header th:replace="include/header.html"></header>
	<!-- 내용부분 --------------------------------------------------->
	<div class="big_box">
		<h1>로그인</h1>
		<!-- 알림 메시지를 표시할 위치 추가 -->
		<div th:if="${message}" class="alert alert-danger">
			<p th:text="${message}"></p>
		</div>
		<form action="/member/login" method="post">
			<input id="id" type="text" name="memberEmail" placeholder="Email">
			<br>
			<br>
			<input id="password" type="password" name="memberPassword" placeholder="Password">
			<br>
			<div class="signup_div">
				<br>
				<a href="../member/save">회원가입</a>
			</div>
			<br>
			<input id="login_btn" type="submit" value="로그인" style="width: 200px;">
		</form>
	</div>
</body>
</html>
