/* 데스크탑 */
* {
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	/*background-color: #4AB34A;*/
	font-family: 'STIX Two Math';z
	margin_bottom: 100px;
}
.form_div{
	border:1px solid red;
	margin:40px auto;
	width:fit-content;
	
}

/*=============================================================*/


@media screen and (max-width:1199px) { /* 타블렛 가로 */
}

@media screen and (max-width:899px) { /* 모바일 가로, 타블렛 세로 */

}

@media screen and (max-width:599px) { /* 모바일 세로 */
}